<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title>Login</title>
	
</head>

<body>
<div id="loginform">
	<form action="login" method="post" accept-charset="utf-8">
		<label for="username:">Username</label><input type="text" name="username" value="" id="username">
		<label for="password">Password</label><input type="password" name="password" value="" id="password">

		<p><input type="submit" value="Login"></p>
	</form>
</div>

</body>
</html>
